* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  height: 97vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Spinner */

.spinner {
  position: relative;
  width: 100px;
  height: 100px;
}

.spinner div {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px solid transparent;
}

.spinner div:first-child {
  border-top-color: #a420f4;
  animation: spinner-top 1.5s linear infinite;
}

.spinner div:last-child {
  border-bottom-color: #a420f4;
  animation: spinner-bottom 1.5s linear infinite;
}

@keyframes spinner-top {
  50% {
    transform: rotate(180deg);
    border-top-width: 5px;
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner-bottom {
  0% {
    border-bottom-width: 5px;
  }
  50% {
    transform: rotate(180deg);
    border-bottom-width: 10px;
  }
  100% {
    transform: rotate(360deg);
    border-bottom-width: 5px;
  }
}

/* Bouncing */

.bouncer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100px;
  height: 100px;
}

.bouncer div {
  width: 20px;
  height: 20px;
  background-color: #0077ff;
  border-radius: 50%;
  animation: bouncer 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite alternate;
}
.bouncer div:nth-child(2) {
  animation-delay: 0.1s;
  opacity: 0.8;
}
.bouncer div:nth-child(3) {
  animation-delay: 0.2s;
  opacity: 0.6;
}
.bouncer div:nth-child(4) {
  animation-delay: 0.3s;
  opacity: 0.4;
}

@keyframes bouncer {
  100% {
    transform: translateY(-80px);
  }
}

/* Flipping Squares */

.square {
  width: 100px;
  height: 100px;
  position: relative;
  perspective: 200px;
}

.square div {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  background-color: #d25;
  animation: flip 2s linear infinite;
  transform-origin: 100% 100%;
}
.square div:nth-child(2) {
  animation-delay: 1s;
  opacity: 0.5;
}

@keyframes flip {
  25% {
    transform: rotateX(0) rotateY(180deg);
  }
  50% {
    transform: rotateX(180deg) rotateY(180deg);
  }
  75% {
    transform: rotateX(180deg) rotateY(0);
  }
}
